.about-first-row {
    display: flex;
}

.about-image {
    width: 100%;
    display: inline-block;
}

blockquote {
    font-family: Roboto, serif;
    font-size: 16px;
    position: relative;
    color: #383838;
}



blockquote cite {
    font-size: 14px;
    display: block;
    margin-top: 15px;
}

