.about-first-row {
    display: flex;
}

.about-image {
    width: 100%;
    height: auto;
    /*display: inline-block;*/
    position: relative;
}

.blockquote {
    font-family: Roboto, serif;
    font-size: 17px;
    color: #383838;
    letter-spacing: 1px;
    position: absolute;
    left: 620px;
    top: 80px;
    width: 700px;
}



.blockquote cite {
    font-size: 14px;
    display: block;
    margin-top: 15px;
}

