.description {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    text-align: left;
}

.signature {
    font-family: 'Miss Fajardose', cursive;
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
}