footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    color: #404040;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 0;
}

.footer-left {
    width: 43%;
    text-align: right;
}

.footer-left a {
    text-decoration-line: none;
    color: #404040;
}

.footer-left a:hover {
    color: #a5a5a5;
}

.footer-logo-div {
    width: 10%;
    margin: 0 2%;
}

.footer-logo {
    width: 100%;
    height: auto;
}

.footer-right {
    width: 43%;
    text-align: left;
}

@media only screen and (max-width: 580px) {
    .footer-left {
        width: 100%;
        text-align: center;
    }
    .footer-logo-div {
        width: 20%;
        text-align: center;
        margin: 0 auto;
    }
    .footer-right {
        width: 100%;
        text-align: center;
    }
}